/*! --------------------------------------- *\
 *  VARIABLES - COLORS
 * ---------------------------------------- */


 $color-list: (
    background: (
        white: #FFFFFF,
        normal: #F5F6F7,
        faded: lighten(#F5F6F7, .7%), // --background-normal
        dark: rgba(0, 0, 0, .5) 
    ),
    foreground: (
        white: #FFFFFF
    ),
    primary: (
        1: #D5DADD,
        2: #C6CACE,
        3: #B3B3B3,
        4: #000000,
        5: #000000,
        6: #000000,
        faded: rgba(0, 0, 0, .5), // --color-primary-4
        background: #000000 , // maintain 4 color in dark theme
    ),
    neutral: (
        1: #E6E6E6,
        2: #CCD0D2,
        3: #999999,
        4: #585858,
        5: #000000,
        6: #000000,
        7: #000000,
        faded-1: rgba(0, 0, 0, .075),
        faded-2: rgba(0, 0, 0, .25), // --color-neutral-3
        faded-3: rgba(0, 0, 0, .75), // --color-neutral-3 
        faded-4: rgba(0, 0, 0, .25), // --color-neutral-5
        white-faded: rgba(#FFFFFF, .5),
        background: #585858, // maintain 4 color in dark theme
    ),
    accent: (
        white: (
            4: #FFFFFF
        ),
        aqua: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        teal: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        green: (
            1: #F5FAE5,
            2: #EBF5CB,
            3: #97DD40,
            4: #006362,
            5: #105B5B,
            6: #164323,
        ),
        yellow: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        orange: (
            1: #FFF8D6,
            2: #FFF3B8,
            3: #FFC933,
            4: #5C5C00,
            5: #5F5800,
            6: #6D1900,
        ),
        red: (
            1: #FFEAF4,
            2: rgba(255, 94, 94, .25), 
            3: #FF8CB2,
            4: #AB0000,
            5: #780000,
            6: #5A0404,
        ),
        pink: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        purple: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        blue: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        grey: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        violet: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
        ultramarine: (
            1: #E6E6E6,
            2: #E7E9EA,
            3: #999999,
            4: #000000,
            5: #262626,
            6: #000000,
        ),
    ),
    chart: (
        aqua:(
            1: #DBF9FF,
            2: #B8F3FF,
            3: #2DD6EF,
            4: #007FA9,
            5: #00709F,
            6: #013B64,
        ),
        teal: (
            1: #DAFDF5,
            2: #C2FCEE,
            3: #2CE0BF,
            4: #07838F,
            5: #046C7A,
            6: #02414C,
        ),
        green: (
            1: #F5FAE5,
            2: #EBF5CB,
            3: #97DD40,
            4: #188918,
            5: #256F3A,
            6: #164323,

        ),
        yellow:(
            1: #FDF5C9,
            2: #FCE8A9,
            3: #FFB727,
            4: #A16B00,
            5: #915E00,
            6: #523100,
        ),
        orange: (
            1: #FFF8D6,
            2: #FFF3B8,
            3: #FFC933,
            4: #C35500,
            5: #A93E00,
            6: #6D1900,
        ),
        red: (
            1: #FFEAF4,
            2: #FFD5EA,
            3: #FF8CB2,
            4: #D20A0A,
            5: #AA0808,
            6: #5A0404,
        ),
        pink: (
            1: #FFF0FA,
            2: #FFDCF3,
            3: #FF8AF0,
            4: #CC00DC,
            5: #A100C2,
            6: #510080,
        ),
        purple: (
            1: #FEEAFC,
            2: #FCCFF5,
            3: #E087D3,
            4: #993C8C,
            5: #76236A,
            6: #451A3F,
        ),
        blue: (
            1: #EBF8FF,
            2: #D1EFFF,
            3: #89D1FF,
            4: #0070F2,
            5: #0057D2,
            6: #00144A,
        ),
        grey: (
            1: #F5F6F7,
            2: #EAECEE,
            3: #A9B4BE,
            4: #475E75,
            5: #354A5F,
            6: #1A2733,
        ),
        violet: (
            1: #FFF0F5,
            2: #FFDCE8,
            3: #FEADC8,
            4: #DF1278,
            5: #BA066C,
            6: #71014B,
        ),
        ultramarine: (
            1: #F1ECFF,
            2: #E2D8FF,
            3: #B894FF,
            4: #5D36FF,
            5: #470CED,
            6: #1C0C6E,

        ),
    )
);