/*! --------------------------------------- *\
 *  VARIABLES - DARK THEME COLORS
 * ---------------------------------------- */

 $color-list-dark: (
    background: (
        white: var(--color-background-white),
        normal: var(--color-neutral-2),
        dark: var(--color-background-white)
    ),
    primary: (
        1: var(--color-primary-1),
        2: var(--color-primary-2),
        3: var(--color-neutral-4),
        4: var(--color-neutral-5),
        5: var(--color-neutral-6),
        6: var(--color-neutral-7)
    ),
    neutral: (
        1: var(--color-background-white),
        2: var(--color-neutral-2),
        3: var(--color-neutral-3),
        4: var(--color-neutral-4),
        5: var(--color-neutral-5),
        6: var(--color-neutral-6),
        7: var(--color-neutral-7)
    ),
    accent: (
        aqua: (
            4: var(--color-accent-aqua-4),
        ),
        teal: (
            4: var(--color-accent-teal-4),
        ),
        green: (
            4: var(--color-accent-green-4),
        ),
        yellow: (
            4: var(--color-accent-yellow-4),
        ),
        orange: (
            4: var(--color-accent-orange-4),
        ),
        red: (
            4: var(--color-accent-red-4),
        ),
        pink: (
            4: var(--color-accent-pink-4),
        ),
        purple: (
            4: var(--color-accent-purple-4),
        ),
        blue: (
            4: var(--color-accent-blue-4),
        ),
        grey: (
            4: var(--color-accent-grey-4),
        ),
        violet: (
            4: var(--color-accent-violet-4),
        ),
        ultramarine: (
            4: var(--color-accent-ultramarine-4),
        )
    ),
    chart: (
        aqua:(
            1:var(--color-chart-aqua-1),
            2:var(--color-chart-aqua-2),
            3:var(--color-chart-aqua-3),
            4:var(--color-chart-aqua-4),
            5:var(--color-chart-aqua-5),
            6:var(--color-chart-aqua-6),
        ),
        teal: (
            1:var(--color-chart-teal-1),
            2:var(--color-chart-teal-2),
            3:var(--color-chart-teal-3),
            4:var(--color-chart-teal-4),
            5:var(--color-chart-teal-5),
            6:var(--color-chart-teal-6),
        ),
        green: (
            1: var(--color-chart-green-1),
            2: var(--color-chart-green-2),
            3: var(--color-chart-green-3),
            4: var(--color-chart-green-4),
            5: var(--color-chart-green-5),
            6: var(--color-chart-green-6),
        ),
        yellow: (
            1: var(--color-chart-yellow-1),
            2: var(--color-chart-yellow-2),
            3: var(--color-chart-yellow-3),
            4: var(--color-chart-yellow-4),
            5: var(--color-chart-yellow-5),
            6: var(--color-chart-yellow-6),
        ),
        orange: (
            1: var(--color-chart-orange-1),
            2: var(--color-chart-orange-2),
            3: var(--color-chart-orange-3),
            4: var(--color-chart-orange-4),
            5: var(--color-chart-orange-5),
            6: var(--color-chart-orange-6),
        ),
        red: (
            1: var(--color-chart-red-1),
            2: var(--color-chart-red-2),
            3: var(--color-chart-red-3),
            4: var(--color-chart-red-4),
            5: var(--color-chart-red-5),
            6: var(--color-chart-red-6),
        ),
        pink: (
            1: var(--color-chart-pink-1),
            2: var(--color-chart-pink-2),
            3: var(--color-chart-pink-3),
            4: var(--color-chart-pink-4),
            5: var(--color-chart-pink-5),
            6: var(--color-chart-pink-6),
        ),
        purple: (
            1: var(--color-chart-purple-1),
            2: var(--color-chart-purple-2),
            3: var(--color-chart-purple-3),
            4: var(--color-chart-purple-4),
            5: var(--color-chart-purple-5),
            6: var(--color-chart-purple-6),
        ),
        blue: (
            1: var(--color-chart-blue-1),
            2: var(--color-chart-blue-2),
            3: var(--color-chart-blue-3),
            4: var(--color-chart-blue-4),
            5: var(--color-chart-blue-5),
            6: var(--color-chart-blue-6),
        ),
        grey: (
            1: var(--color-chart-grey-1),
            2: var(--color-chart-grey-2),
            3: var(--color-chart-grey-3),
            4: var(--color-chart-grey-4),
            5: var(--color-chart-grey-5),
            6: var(--color-chart-grey-6),
        ),
        violet: (
            1: var(--color-chart-violet-1),
            2: var(--color-chart-violet-2),
            3: var(--color-chart-violet-3),
            4: var(--color-chart-violet-4),
            5: var(--color-chart-violet-5),
            6: var(--color-chart-violet-6),
        ),
        ultramarine: (
            1: var(--color-chart-ultramarine-1),
            2: var(--color-chart-ultramarine-2),
            3: var(--color-chart-ultramarine-3),
            4: var(--color-chart-ultramarine-4),
            5: var(--color-chart-ultramarine-5),
            6: var(--color-chart-ultramarine-6),
        )
    )
);

$color-list-dark-action-card: (
    background: (
        white: var(--color-background-white),
        normal: var(--color-background-normal),
        dark: var(--color-background-dark)
    ),
    primary: (
        1: var(--color-primary-1),
        3: var(--color-primary-3),
        4: var(--color-neutral-1),
        5: var(--color-background-white),
        6: var(--color-neutral-2)
    ),
    neutral: (
        1: var(--color-accent-blue-1),
        2: var(--color-neutral-6),
        3: var(--color-neutral-4),
        4: var(--color-neutral-3),
        5: var(--color-background-white),
        6: var(--color-neutral-2),
        7: var(--color-background-white)
    ),
    accent: (
        blue: (
            4: var(--color-accent-blue-4),
        )
    )
);