
/*! ---------------------------------------------------------- *\
 *  CUSTOM COLOR VARIABLES
 * ----------------------------------------------------------- */
 
 $color-list-custom : (
    link : (
        transparent: var(--color-neutral-6),
        neutraldark: var(--color-neutral-7),
        disabled: var(--color-neutral-3)
    )
 )